# Data Science Tools and Ecosystem

In this notebook, data Science Tools and Excosystem are sumarized.

**Objectives:**

- Create a Jupyter Notebook
- Create markdowns
- Create a lists
- Create a table
- Code an arithmetic expression in Python

Some of the popular languages Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) TensorFlow
2) Matplotlib
3) PyTorch
4) NumPy
5) Pandas
6) Apache Superset
7) Seaborn
8) Keras

|Data Science Tools|
| ----------------- |
|Jupyter Notebooks |
| R Studio's |
| Zeppelin Notebooks |

### Below are a few examples of evluating arithmetic expressions in Python

###### This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3*4)+5

17

###### This will convert 200 minutes to hours by dividing by 60.

In [5]:
200/60

3.3333333333333335

## Author
Katie